*,
 ::after,
 ::before {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-image: url(https://source.unsplash.com/random);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    @include positionCenter();
    width: 960px;
    margin: 0 auto;
    background-color: rgba(white, 0.8);
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
}