        *,
         ::after,
         ::before {
            box-sizing: border-box;
        }
        
        body {
            @include marginPadingNull();
            height: 100vh;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.5;
            color: $CouleurText;
            overflow: hidden;
            @include backgrondImageResponsive('https://source.unsplash.com/random');
        }
        
        a {
            text-decoration: none;
            color: #000;
        }
        
        .container {
            @include positionCenter(50%, 50%, fixed);
            @include marginPadingNull();
            width: 870px;
            max-width: 100%;
            min-width: 258px;
            height: 500px;
            background-color: rgba($CouleurMain, 0.95);
            border-radius: 4px;
            box-shadow: 0 0 20px rgba($CouleurText, 0.5);
            border: 1px solid rgba($CouleurText, 0.3);
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: 30px repeat(8, 1fr);
            transition: opacity 1.1s ease-in-out;
        }
        
        //icone clicable de la calculatrice
        .iconCalculatrice {
            // background-color: aqua;
            width: 84px;
            height: 83px;
            margin: 10px 20px;
            img {
                margin: 2px 10px 0 17px;
            }
            p {
                font-size: 13px;
                margin: auto 7px;
                color: white;
                -webkit-text-stroke: 0.1px $CouleurText;
                text-shadow: 1px 1px 2px $CouleurText;
            }
            &:hover {
                background-color: rgba($CouleurMain, 0.7);
                border: 1px solid rgba($CouleurMain, 0.7);
                border-radius: 1px;
            }
        }
        
        .containerCache {
            opacity: 0;
        }
        
        .containerReduit {
            animation: reduit 1s forwards;
        }
        
        @keyframes reduit {
            0% {
                width: 870px;
                height: 65%;
                overflow: hidden;
            }
            50% {
                width: 870px;
                height: 5%;
                overflow: hidden;
                @include positionCenter();
            }
            100% {
                width: 15%;
                height: 5%;
                overflow: hidden;
                @include positionCenter(0, 100%);
            }
        }
        
        .containerAgrandis {
            width: 99%;
            height: 99%;
            @include positionCenter(0, 19%);
        }
        
        //titre est élément de modification de la fenétre de la calculatrice 
        #titreGeneral {
            height: 30px;
            display: flex;
            justify-content: space-between;
            grid-row: 1/2;
            grid-column: 1/8;
            p {
                font-size: 12px;
                margin: 0;
                padding-top: 9px;
                padding-left: 10px;
                height: 100%;
            }
            .petiteTaillebis {
                display: none;
            }
            .fenetre {
                margin: 0;
                height: 100%;
                display: flex;
                .Agrendir {
                    margin-top: 2px;
                }
                .iconeFenetre {
                    width: 36px;
                    img {
                        padding: 4px 0 0 12px;
                        height: 50%;
                    }
                    .iconeG {
                        display: none;
                    }
                    .fenetreActive {
                        display: block;
                    }
                    &:hover {
                        background-color: $CouleurOpérateur;
                    }
                }
                .close {
                    &:hover {
                        background-color: rgba(255, 0, 0, 0.7);
                        background-image: url(/assets/img/fenetre/closeWhite.png);
                        background-size: 30%;
                        background-position: 53% 40%;
                        background-repeat: no-repeat;
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
        
        @import 'modeCalculatruce/_standard.scss'; //import du style de la calculatrice standard
        @import 'modeCalculatruce/_scientifique.scss'; //import du style de la calculatrice scientifique
        @import 'modeCalculatruce/_date.scss'; //import du style de la calculatrice de date
        @import 'modeCalculatruce/_devise.scss'; //import du style convertire les devise
        @import 'modeCalculatruce/_volume.scss'; //import du style convertire les volumes
        @import 'modeCalculatruce/_longueur.scss'; //import du style convertire les longueurs
        @import 'modeCalculatruce/_poids.scss'; //import du style convertire les poids et masse
        @import 'modeCalculatruce/_temp.scss'; //import du style convertire les température
        @import 'modeCalculatruce/_energie.scss'; //import du style convertire valeur d'énergie
        @import 'modeCalculatruce/_surface.scss'; //import du style convertire surface
        @import 'modeCalculatruce/_vitesse.scss'; //import du style convertire les vitesse
        @import 'modeCalculatruce/_heure.scss'; //import du style convertire de temps
        @import 'modeCalculatruce/_puissance.scss'; //import du style convertire de puissance
        @import 'modeCalculatruce/_donne.scss'; //import du style convertire de donne
        @import 'modeCalculatruce/_pression.scss'; //import du style convertire de pression
        @import 'modeCalculatruce/_Angle.scss'; //import du style convertire d'Angle
        .overlay {
            display: none;
        }
        
        .activeOverlay {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            cursor: pointer;
        }