@charset "UTF-8";
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #000000;
  overflow: hidden;
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 870px;
  max-width: 100%;
  min-width: 258px;
  height: 500px;
  background-color: rgba(230, 230, 230, 0.95);
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 30px repeat(8, 1fr);
  transition: opacity 1.1s ease-in-out;
}

@keyframes removrReduire {
  0% {
    width: 15%;
    height: 5%;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
  }
  50% {
    width: 870px;
    height: 5%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    width: 870px;
    height: 65%;
    overflow: hidden;
  }
}
.iconCalculatrice {
  width: 84px;
  height: 83px;
  margin: 10px 20px;
}
.iconCalculatrice img {
  margin: 2px 10px 0 17px;
}
.iconCalculatrice p {
  font-size: 13px;
  margin: auto 7px;
  color: white;
  -webkit-text-stroke: 0.1px #000000;
  text-shadow: 1px 1px 2px #000000;
}
.iconCalculatrice:hover {
  background-color: rgba(230, 230, 230, 0.7);
  border: 1px solid rgba(230, 230, 230, 0.7);
  border-radius: 1px;
}

.containerCache {
  opacity: 0;
}

.containerReduit {
  animation: reduit 1s forwards;
}

@keyframes reduit {
  0% {
    width: 870px;
    height: 65%;
    overflow: hidden;
  }
  50% {
    width: 870px;
    height: 5%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    width: 15%;
    height: 5%;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
  }
}
.containerAgrandis {
  width: 99%;
  height: 99%;
  position: absolute;
  top: 19%;
  left: 0;
  transform: translate(0, -19%);
}

#titreGeneral {
  height: 30px;
  display: flex;
  justify-content: space-between;
  grid-row: 1/2;
  grid-column: 1/8;
}
#titreGeneral p {
  font-size: 12px;
  margin: 0;
  padding-top: 9px;
  padding-left: 10px;
  height: 100%;
}
#titreGeneral .fenetre {
  margin: 0;
  height: 100%;
  display: flex;
}
#titreGeneral .fenetre .Agrendir {
  margin-top: 2px;
}
#titreGeneral .fenetre .iconeFenetre {
  width: 36px;
}
#titreGeneral .fenetre .iconeFenetre img {
  padding: 4px 0 0 12px;
  height: 50%;
}
#titreGeneral .fenetre .iconeFenetre .iconeG {
  display: none;
}
#titreGeneral .fenetre .iconeFenetre .fenetreActive {
  display: block;
}
#titreGeneral .fenetre .iconeFenetre:hover {
  background-color: #f4f4f4;
}
#titreGeneral .fenetre .close:hover {
  background-color: rgba(255, 0, 0, 0.7);
  background-image: url(/assets/img/fenetre/closeWhite.png);
  background-size: 42%;
  background-position: 53% 40%;
  background-repeat: no-repeat;
}
#titreGeneral .fenetre .close:hover img {
  display: none;
}

#corpsStandard {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  grid-row: 2/10;
  grid-column: 1/8;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 321px;
  grid-template-rows: repeat(9, 1fr);
}
#corpsStandard .box {
  grid-row: 1/2;
  grid-column: 1/5;
}
#corpsStandard .box .headMenu {
  display: flex;
}
#corpsStandard .box .headMenu .contLigne {
  width: 40px;
  height: 5px;
  cursor: pointer;
  position: relative;
  top: 0;
  padding: 20px;
  z-index: 50;
}
#corpsStandard .box .headMenu .contLigne:hover {
  background: #e6e6e6;
}
#corpsStandard .box .headMenu .contLigne .lignes {
  width: 50%;
  height: 1px;
  border-radius: 25px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
#corpsStandard .box .headMenu .contLigne .lignes:nth-child(1) {
  top: 15px;
}
#corpsStandard .box .headMenu .contLigne .lignes:nth-child(2) {
  top: 20px;
}
#corpsStandard .box .headMenu .contLigne .lignes:nth-child(3) {
  top: 25px;
}
#corpsStandard .box .headMenu h1 {
  margin: 0;
  padding: 0;
  margin: 6px 5px 0 10px;
  font-size: 20px;
}
#corpsStandard .box .headMenu .petiteTaille {
  width: 30px;
  height: 30px;
  margin-top: 9px;
}
#corpsStandard .box .headMenu .petiteTaille:hover {
  border: 1px solid gray;
  background-color: #dadada;
}
#corpsStandard .box .navBar {
  width: 29%;
  height: 94%;
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  top: 30px;
  z-index: 50;
}
#corpsStandard .box .navBar .navHedaer {
  height: 10%;
  z-index: 20;
}
#corpsStandard .box .navBar .navCahce {
  height: 81%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 20;
}
#corpsStandard .box .navBar .navCahce ul {
  position: relative;
  margin: 0;
  padding: 0;
}
#corpsStandard .box .navBar .navCahce ul h4 {
  margin: 0;
  padding: 0;
  margin: 12px;
  font-size: 0.8rem;
  cursor: default;
}
#corpsStandard .box .navBar .navCahce ul li {
  width: 100%;
  height: 39px;
  padding: 0 10px;
  cursor: default;
}
#corpsStandard .box .navBar .navCahce ul li a {
  position: relative;
}
#corpsStandard .box .navBar .navCahce ul li .divLi {
  display: flex;
}
#corpsStandard .box .navBar .navCahce ul li .divLi img {
  height: 30px;
  margin-top: 5px;
}
#corpsStandard .box .navBar .navCahce ul li .divLi p {
  font-size: 13.5px;
  margin: 10px 5px;
}
#corpsStandard .box .navBar .navCahce ul li .active-items::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -5px;
  width: 2px;
  height: 25px;
  background-color: #53b4ddd0;
}
#corpsStandard .box .navBar .navCahce ul li:hover {
  background-color: #dadada;
}
#corpsStandard .box .navBar .navCahce::-webkit-scrollbar {
  width: 12px;
}
#corpsStandard .box .navBar .navCahce::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#corpsStandard .box .navBar .navCahce::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid #f1f1f1;
}
#corpsStandard .box .navBar .apropos {
  background-color: #f1f1f1;
  display: flex;
}
#corpsStandard .box .navBar .apropos img {
  width: 35px;
  height: 35px;
}
#corpsStandard .box .navBar .apropos p {
  margin: 7px 0;
  font-size: 13.5px;
}
#corpsStandard .box .active-nav {
  display: block;
  z-index: 5;
}
#corpsStandard .histoMemo {
  grid-row: 1/10;
  grid-column: 5/7;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(9, 1fr);
  background-color: transparent;
}
#corpsStandard .histoMemo .histo {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 80px;
  margin: 5px 20px;
  position: relative;
}
#corpsStandard .histoMemo .histo h2 {
  font-size: 15px;
  cursor: default;
}
#corpsStandard .histoMemo .memoiregeneral {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 70px;
  margin: 5px 20px;
  position: relative;
}
#corpsStandard .histoMemo .memoiregeneral h2 {
  font-size: 15px;
  cursor: default;
}
#corpsStandard .histoMemo .active_histoMemo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #53b4ddd0;
}
#corpsStandard .histoMemo .resultHistoMemo {
  grid-row: 2/10;
  grid-column: 1/3;
  width: 100%;
  height: 100%;
}
#corpsStandard .histoMemo .resultHistoMemo .hitodéfaut,
#corpsStandard .histoMemo .resultHistoMemo .memodéfaut {
  font-size: 13px;
  white-space: nowrap;
  margin-left: 20px;
}
#corpsStandard .histoMemo .resultHistoMemo .memodéfaut {
  display: none;
}
#corpsStandard .resulCalcule {
  grid-row: 2/4;
  grid-column: 1/5;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#corpsStandard .resulCalcule .memoireResult {
  align-self: flex-end;
  display: flex;
}
#corpsStandard .resulCalcule .memoireResult .memo {
  width: 80px;
  height: 30px;
}
#corpsStandard .resulCalcule .memoireResult .memo p {
  margin: 0;
  margin-top: 7px;
  font-size: 12px;
  text-align: center;
}
#corpsStandard .resulCalcule .memoireResult .MC,
#corpsStandard .resulCalcule .memoireResult .MR {
  color: gray;
}
#corpsStandard .resulCalcule .memoireResult .MC:hover,
#corpsStandard .resulCalcule .memoireResult .MR:hover {
  cursor: default;
  opacity: 0.5;
  box-shadow: 0 0.5px 1px gray;
}
#corpsStandard .resulCalcule .memoireResult .MP,
#corpsStandard .resulCalcule .memoireResult .MS,
#corpsStandard .resulCalcule .memoireResult .MM {
  cursor: default;
}
#corpsStandard .resulCalcule .memoireResult .MP:hover,
#corpsStandard .resulCalcule .memoireResult .MS:hover,
#corpsStandard .resulCalcule .memoireResult .MM:hover {
  border: 1px solid gray;
  background-color: #d6d6d6;
}
#corpsStandard .resulCalcule .result {
  margin-bottom: 10px;
  margin-right: 15px;
  font-weight: 500;
  align-self: center;
}
#corpsStandard .resulCalcule .result .calculeresult {
  margin-left: 5px;
  font-size: 13px;
  color: gray;
}
#corpsStandard .resulCalcule .result .calculeresult p {
  margin: 0;
  padding: 0;
}
#corpsStandard .resulCalcule .result .chiffreresult {
  font-size: 40px;
}
#corpsStandard .resulCalcule .result .chiffreresult p {
  margin: 0;
  padding: 0;
}
#corpsStandard .opperateur {
  width: 98%;
  height: 98%;
  text-align: center;
  background-color: #f2f2f2;
  opacity: 0.7;
  cursor: default;
}
#corpsStandard .opperateur p,
#corpsStandard .opperateur img {
  font-size: 15px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#corpsStandard .opperateur:hover {
  background-color: #dadada;
  border: 1px solid #cccccc;
}
#corpsStandard .chiffre {
  width: 98%;
  height: 98%;
  text-align: center;
  background-color: #ffffff;
  cursor: default;
}
#corpsStandard .chiffre p,
#corpsStandard .chiffre img {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#corpsStandard .chiffre:hover {
  background-color: #dadada;
  border: 1px solid #a5a5a5;
}
#corpsStandard .egal {
  background-color: #53b4ddd0;
}
#corpsStandard .egal:hover {
  background-color: #009db9;
  border: 1px solid #009db9;
}

#corpsScientifique {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  grid-row: 2/10;
  grid-column: 1/8;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 321px;
  grid-template-rows: repeat(12, 1fr);
}
#corpsScientifique .box {
  grid-row: 1/2;
  grid-column: 1/6;
}
#corpsScientifique .box .headMenu {
  display: flex;
}
#corpsScientifique .box .headMenu .contLigne {
  width: 40px;
  height: 5px;
  cursor: pointer;
  position: relative;
  top: 0;
  padding: 20px;
  z-index: 50;
}
#corpsScientifique .box .headMenu .contLigne:hover {
  background: #e6e6e6;
}
#corpsScientifique .box .headMenu .contLigne .lignes {
  width: 50%;
  height: 1px;
  border-radius: 25px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
#corpsScientifique .box .headMenu .contLigne .lignes:nth-child(1) {
  top: 15px;
}
#corpsScientifique .box .headMenu .contLigne .lignes:nth-child(2) {
  top: 20px;
}
#corpsScientifique .box .headMenu .contLigne .lignes:nth-child(3) {
  top: 25px;
}
#corpsScientifique .box .headMenu h1 {
  margin: 0;
  padding: 0;
  margin: 6px 5px 0 10px;
  font-size: 20px;
}
#corpsScientifique .box .headMenu .petiteTaille {
  width: 30px;
  height: 30px;
  margin-top: 9px;
}
#corpsScientifique .box .headMenu .petiteTaille:hover {
  border: 1px solid gray;
  background-color: #dadada;
}
#corpsScientifique .box .navBar {
  width: 29%;
  height: 94%;
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  top: 30px;
  z-index: 50;
}
#corpsScientifique .box .navBar .navHedaer {
  height: 10%;
  z-index: 20;
}
#corpsScientifique .box .navBar .navCahce {
  height: 81%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 20;
}
#corpsScientifique .box .navBar .navCahce ul {
  position: relative;
  margin: 0;
  padding: 0;
}
#corpsScientifique .box .navBar .navCahce ul h4 {
  margin: 0;
  padding: 0;
  margin: 12px;
  font-size: 0.8rem;
  cursor: default;
}
#corpsScientifique .box .navBar .navCahce ul li {
  width: 100%;
  height: 39px;
  padding: 0 10px;
  cursor: default;
}
#corpsScientifique .box .navBar .navCahce ul li a {
  position: relative;
}
#corpsScientifique .box .navBar .navCahce ul li .divLi {
  display: flex;
}
#corpsScientifique .box .navBar .navCahce ul li .divLi img {
  height: 30px;
  margin-top: 5px;
}
#corpsScientifique .box .navBar .navCahce ul li .divLi p {
  font-size: 13.5px;
  margin: 10px 5px;
}
#corpsScientifique .box .navBar .navCahce ul li .active-items::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -5px;
  width: 2px;
  height: 25px;
  background-color: #53b4ddd0;
}
#corpsScientifique .box .navBar .navCahce ul li:hover {
  background-color: #dadada;
}
#corpsScientifique .box .navBar .navCahce::-webkit-scrollbar {
  width: 12px;
}
#corpsScientifique .box .navBar .navCahce::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#corpsScientifique .box .navBar .navCahce::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid #f1f1f1;
}
#corpsScientifique .box .navBar .apropos {
  background-color: #f1f1f1;
  display: flex;
}
#corpsScientifique .box .navBar .apropos img {
  width: 35px;
  height: 35px;
}
#corpsScientifique .box .navBar .apropos p {
  margin: 7px 0;
  font-size: 13.5px;
}
#corpsScientifique .box .active-nav {
  display: block;
  z-index: 5;
}
#corpsScientifique .histoMemo {
  grid-row: 1/12;
  grid-column: 6/7;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(9, 1fr);
  background-color: transparent;
}
#corpsScientifique .histoMemo .histo {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 80px;
  margin: 5px 20px;
  position: relative;
}
#corpsScientifique .histoMemo .histo h2 {
  font-size: 15px;
  cursor: default;
}
#corpsScientifique .histoMemo .memoiregeneral {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 70px;
  margin: 5px 20px;
  position: relative;
}
#corpsScientifique .histoMemo .memoiregeneral h2 {
  font-size: 15px;
  cursor: default;
}
#corpsScientifique .histoMemo .active_histoMemo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #53b4ddd0;
}
#corpsScientifique .histoMemo .resultHistoMemo {
  grid-row: 2/10;
  grid-column: 1/3;
  width: 100%;
  height: 100%;
}
#corpsScientifique .histoMemo .resultHistoMemo .hitodéfaut,
#corpsScientifique .histoMemo .resultHistoMemo .memodéfaut {
  font-size: 13px;
  white-space: nowrap;
  margin-left: 20px;
}
#corpsScientifique .histoMemo .resultHistoMemo .memodéfaut {
  display: none;
}
#corpsScientifique .resulCalcule {
  grid-row: 2/6;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 55px repeat(3, 1fr);
}
#corpsScientifique .resulCalcule .memoireResult {
  width: 100%;
  height: 100%;
  grid-row: 2/6;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#corpsScientifique .resulCalcule .memoireResult .memo {
  width: 100%;
  height: 100%;
}
#corpsScientifique .resulCalcule .memoireResult .memo p {
  margin: 0;
  margin-top: 7px;
  font-size: 12px;
  text-align: center;
}
#corpsScientifique .resulCalcule .memoireResult .DEG {
  grid-row: 1/2;
  grid-column: 1/2;
  cursor: default;
}
#corpsScientifique .resulCalcule .memoireResult .DEG:hover {
  border: 1px solid gray;
  background-color: #d6d6d6;
}
#corpsScientifique .resulCalcule .memoireResult .FE {
  grid-row: 1/2;
  grid-column: 2/3;
  cursor: default;
}
#corpsScientifique .resulCalcule .memoireResult .FE:hover {
  border: 1px solid gray;
  background-color: #d6d6d6;
}
#corpsScientifique .resulCalcule .memoireResult .MC {
  grid-row: 2/3;
  grid-column: 1/2;
  color: gray;
}
#corpsScientifique .resulCalcule .memoireResult .MC:hover {
  cursor: default;
  opacity: 0.5;
  box-shadow: 0 0.5px 1px gray;
}
#corpsScientifique .resulCalcule .memoireResult .MR {
  grid-row: 2/3;
  grid-column: 2/3;
  color: gray;
}
#corpsScientifique .resulCalcule .memoireResult .MR:hover {
  cursor: default;
  opacity: 0.5;
  box-shadow: 0 0.5px 1px gray;
}
#corpsScientifique .resulCalcule .memoireResult .MP {
  grid-row: 2/3;
  grid-column: 3/4;
  cursor: default;
}
#corpsScientifique .resulCalcule .memoireResult .MP:hover {
  border: 1px solid gray;
  background-color: #d6d6d6;
}
#corpsScientifique .resulCalcule .memoireResult .MM {
  grid-row: 2/3;
  grid-column: 4/5;
  cursor: default;
}
#corpsScientifique .resulCalcule .memoireResult .MM:hover {
  border: 1px solid gray;
  background-color: #d6d6d6;
}
#corpsScientifique .resulCalcule .memoireResult .MS {
  grid-row: 2/3;
  grid-column: 5/6;
  cursor: default;
}
#corpsScientifique .resulCalcule .memoireResult .MS:hover {
  border: 1px solid gray;
  background-color: #d6d6d6;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction {
  grid-row: 3/4;
  grid-column: 1/6;
  display: grid;
  width: 545px;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: 1fr;
  background-color: rgba(242, 242, 242, 0.2);
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .trigo {
  grid-row: 1/2;
  grid-column: 1/7;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .trigo .generalTrigo {
  width: 100%;
  height: 100%;
  display: flex;
  cursor: default;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .trigo .generalTrigo img {
  width: 16px;
  height: 16px;
  margin: 12px 5px 0 5px;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .trigo .generalTrigo p {
  font-size: 11.5px;
  margin: 12px 1px 0 0;
  padding: 0;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .trigo .generalTrigo:hover {
  border: 1px solid gray;
  background-color: #d6d6d6;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .trigo .generalTrigo .flecheTricoFunc {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .trigo .itemsGeneralTrigo {
  display: none;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .trigo .itemsGeneralTrigoActive {
  display: block;
  width: 275px;
  height: 100px;
  text-align: center;
  background-color: #d8d8d8;
  cursor: default;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: peat(2, 1fr);
  z-index: 100;
  cursor: default;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .trigo .itemsGeneralTrigoActive .itemsTrigo {
  width: 66px;
  height: 47px;
  margin: 0.5px;
  background-color: #f2f2f2;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .trigo .itemsGeneralTrigoActive .itemsTrigo p,
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .trigo .itemsGeneralTrigoActive .itemsTrigo img {
  font-size: 15px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .trigo .itemsGeneralTrigoActive .itemsTrigo:hover {
  background-color: #dadada;
  border: 1px solid #cccccc;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .fonction {
  grid-row: 1/2;
  grid-column: 7/12;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .fonction .generalfonc {
  display: flex;
  cursor: default;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .fonction .generalfonc img {
  width: 30px;
  height: 30px;
  margin: 5px 0 0 1px;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .fonction .generalfonc p {
  font-size: 12px;
  margin-top: 12px;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .fonction .generalfonc:hover {
  border: 1px solid gray;
  background-color: #d6d6d6;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .fonction .generalfonc .flecheTricoFunc {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .fonction .itemsGeneralFonc {
  display: none;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .fonction .itemsGeneralFoncActive {
  display: block;
  width: 200px;
  height: 95px;
  text-align: center;
  background-color: #d8d8d8;
  cursor: default;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: peat(2, 1fr);
  z-index: 100;
  cursor: default;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .fonction .itemsGeneralFoncActive .itemsFonc {
  width: 66px;
  height: 47px;
  margin: 1px;
  background-color: #f2f2f2;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .fonction .itemsGeneralFoncActive .itemsFonc img {
  font-size: 15px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#corpsScientifique .resulCalcule .memoireResult .trigoFonction .fonction .itemsGeneralFoncActive .itemsFonc:hover {
  background-color: #dadada;
  border: 1px solid #cccccc;
}
#corpsScientifique .resulCalcule .result {
  grid-row: 1/2;
  grid-column: 1/8;
  width: 100%;
  height: 100%;
}
#corpsScientifique .resulCalcule .result .calculeresult {
  margin-left: 5px;
  font-size: 13px;
  color: gray;
}
#corpsScientifique .resulCalcule .result .calculeresult p {
  margin: 0;
  padding: 0;
  text-align: end;
  margin-right: 15px;
}
#corpsScientifique .resulCalcule .result .chiffreresult {
  font-size: 25px;
}
#corpsScientifique .resulCalcule .result .chiffreresult p {
  margin: 0;
  padding: 0;
  text-align: end;
  margin-right: 10px;
}
#corpsScientifique .opperateur {
  width: 98%;
  height: 98%;
  text-align: center;
  background-color: #f2f2f2;
  opacity: 0.7;
  cursor: default;
}
#corpsScientifique .opperateur p,
#corpsScientifique .opperateur img {
  font-size: 15px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#corpsScientifique .opperateur:hover {
  background-color: #dadada;
  border: 1px solid #cccccc;
}
#corpsScientifique .chiffre {
  width: 98%;
  height: 98%;
  text-align: center;
  background-color: #ffffff;
  cursor: default;
}
#corpsScientifique .chiffre p,
#corpsScientifique .chiffre img {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#corpsScientifique .chiffre:hover {
  background-color: #dadada;
  border: 1px solid #a5a5a5;
}
#corpsScientifique .egal {
  background-color: #53b4ddd0;
}
#corpsScientifique .egal:hover {
  background-color: #009db9;
  border: 1px solid #009db9;
}

#corpsDate {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  grid-row: 2/10;
  grid-column: 1/8;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 321px;
  grid-template-rows: 40px repeat(8, 1fr);
}
#corpsDate .box {
  grid-row: 1/2;
  grid-column: 1/5;
}
#corpsDate .box .headMenu {
  display: flex;
}
#corpsDate .box .headMenu .contLigne {
  width: 40px;
  height: 5px;
  cursor: pointer;
  position: relative;
  top: 0;
  padding: 20px;
  z-index: 50;
}
#corpsDate .box .headMenu .contLigne:hover {
  background: #e6e6e6;
}
#corpsDate .box .headMenu .contLigne .lignes {
  width: 50%;
  height: 1px;
  border-radius: 25px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
#corpsDate .box .headMenu .contLigne .lignes:nth-child(1) {
  top: 15px;
}
#corpsDate .box .headMenu .contLigne .lignes:nth-child(2) {
  top: 20px;
}
#corpsDate .box .headMenu .contLigne .lignes:nth-child(3) {
  top: 25px;
}
#corpsDate .box .headMenu h1 {
  margin: 0;
  padding: 0;
  margin: 6px 5px 0 10px;
  font-size: 20px;
}
#corpsDate .box .headMenu .petiteTaille {
  width: 30px;
  height: 30px;
  margin-top: 9px;
}
#corpsDate .box .headMenu .petiteTaille:hover {
  border: 1px solid gray;
  background-color: #dadada;
}
#corpsDate .box .navBar {
  width: 29%;
  height: 94%;
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  top: 30px;
  z-index: 50;
}
#corpsDate .box .navBar .navHedaer {
  height: 10%;
  z-index: 20;
}
#corpsDate .box .navBar .navCahce {
  height: 81%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 20;
}
#corpsDate .box .navBar .navCahce ul {
  position: relative;
  margin: 0;
  padding: 0;
}
#corpsDate .box .navBar .navCahce ul h4 {
  margin: 0;
  padding: 0;
  margin: 12px;
  font-size: 0.8rem;
  cursor: default;
}
#corpsDate .box .navBar .navCahce ul li {
  width: 100%;
  height: 39px;
  padding: 0 10px;
  cursor: default;
}
#corpsDate .box .navBar .navCahce ul li a {
  position: relative;
}
#corpsDate .box .navBar .navCahce ul li .divLi {
  display: flex;
}
#corpsDate .box .navBar .navCahce ul li .divLi img {
  height: 30px;
  margin-top: 5px;
}
#corpsDate .box .navBar .navCahce ul li .divLi p {
  font-size: 13.5px;
  margin: 10px 5px;
}
#corpsDate .box .navBar .navCahce ul li .active-items::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -5px;
  width: 2px;
  height: 25px;
  background-color: #53b4ddd0;
}
#corpsDate .box .navBar .navCahce ul li:hover {
  background-color: #dadada;
}
#corpsDate .box .navBar .navCahce::-webkit-scrollbar {
  width: 12px;
}
#corpsDate .box .navBar .navCahce::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#corpsDate .box .navBar .navCahce::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid #f1f1f1;
}
#corpsDate .box .navBar .apropos {
  background-color: #f1f1f1;
  display: flex;
}
#corpsDate .box .navBar .apropos img {
  width: 35px;
  height: 35px;
}
#corpsDate .box .navBar .apropos p {
  margin: 7px 0;
  font-size: 13.5px;
}
#corpsDate .box .active-nav {
  display: block;
  z-index: 5;
}
#corpsDate .choixDate {
  display: none;
  width: 280px;
  height: 68px;
  margin-left: 10px;
  position: absolute;
  background-color: #e6e6e6;
  box-shadow: 1px 1px 30px #5d5d5d;
  z-index: 100;
}
#corpsDate .choixDate .choixDateDiff {
  height: 26px;
  width: 272px;
  margin: 4px 6px;
  cursor: default;
}
#corpsDate .choixDate .choixDateDiff p {
  width: 272px;
  height: 26px;
  font-size: 14px;
  margin: 0;
  padding: 5px 7px;
}
#corpsDate .choixDate .choixDateDiff:hover, #corpsDate .choixDate .choixDateDiff:focus {
  width: 272px;
  height: 26px;
  background-color: #f1f1f1;
}
#corpsDate .choixDate .choixDateAjout {
  height: 26px;
  width: 272px;
  margin: 4px 6px;
  cursor: default;
}
#corpsDate .choixDate .choixDateAjout p {
  width: 272px;
  height: 26px;
  margin: 0;
  padding: 5px 7px;
  font-size: 14px;
}
#corpsDate .choixDate .choixDateAjout:hover, #corpsDate .choixDate .choixDateAjout:focus {
  width: 272px;
  height: 26px;
  background-color: #f1f1f1;
}
#corpsDate .diffDat {
  display: none;
  grid-row: 2/10;
  grid-column: 1/6;
}
#corpsDate .diffDat .choix {
  display: flex;
  height: 40px;
  cursor: default;
}
#corpsDate .diffDat .choix p {
  font-size: 13.5px;
  font-weight: bold;
  margin: 0 0 0 9px;
  padding: 13.25px 0;
  pointer-events: none;
}
#corpsDate .diffDat .choix img {
  width: 23px;
  height: 23px;
  margin-top: 10px;
  pointer-events: none;
}
#corpsDate .diffDat p {
  font-size: 13.5px;
  margin: 10px 0 0 9px;
}
#corpsDate .diffDat .datepicker {
  background-color: rgba(230, 230, 230, 0);
  padding: 8px;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
#corpsDate .diffDat .datepicker::-webkit-calendar-picker-indicator {
  padding: 5px;
  cursor: pointer;
}
#corpsDate .diffDat .différenceDate {
  margin-top: 20px;
  font-size: 13px;
}
#corpsDate .diffDat .resultDate {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
#corpsDate .diffDat .nbJourDiff {
  margin: 0;
  padding: 0;
  margin-left: 12px;
  font-weight: bold;
  opacity: 0.6;
}
#corpsDate .ajoutDate {
  display: none;
  grid-row: 2/10;
  grid-column: 1/6;
}
#corpsDate .ajoutDate .choix {
  display: flex;
  height: 40px;
  pointer-events: visible;
  cursor: default;
  z-index: 2;
}
#corpsDate .ajoutDate .choix p {
  font-size: 13.5px;
  font-weight: bold;
  margin: 0 0 0 9px;
  padding: 13.25px 0;
  pointer-events: none;
}
#corpsDate .ajoutDate .choix img {
  width: 23px;
  height: 23px;
  margin-top: 10px;
  pointer-events: none;
}
#corpsDate .ajoutDate p {
  font-size: 13.5px;
  margin: 10px 0 0 9px;
}
#corpsDate .ajoutDate .datepicker {
  background-color: rgba(230, 230, 230, 0);
  padding: 8px;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
#corpsDate .ajoutDate .datepicker::-webkit-calendar-picker-indicator {
  padding: 5px;
  cursor: pointer;
}
#corpsDate .ajoutDate .choixChecked {
  height: 50px;
  position: relative;
}
#corpsDate .ajoutDate .choixChecked .choixCheckedOne label {
  background-color: #fff;
  border: 3px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 20px;
  left: 7px;
  width: 20px;
}
#corpsDate .ajoutDate .choixChecked .choixCheckedOne label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 6px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}
#corpsDate .ajoutDate .choixChecked .choixCheckedOne input[type=checkbox] {
  visibility: hidden;
}
#corpsDate .ajoutDate .choixChecked .choixCheckedOne input[type=checkbox]:checked + label {
  background-color: whit;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 6px solid #53b4ddd0;
}
#corpsDate .ajoutDate .choixChecked .choixCheckedOne input[type=checkbox]:checked + label:after {
  opacity: 0;
}
#corpsDate .ajoutDate .choixChecked .choixCheckedOne p {
  position: absolute;
  top: 10px;
  left: 25px;
}
#corpsDate .ajoutDate .choixChecked .choixCheckedTow label {
  background-color: #fff;
  border: 3px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 20px;
  left: 110px;
  width: 20px;
}
#corpsDate .ajoutDate .choixChecked .choixCheckedTow label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 6px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}
#corpsDate .ajoutDate .choixChecked .choixCheckedTow input[type=checkbox] {
  visibility: hidden;
}
#corpsDate .ajoutDate .choixChecked .choixCheckedTow input[type=checkbox]:checked + label {
  background-color: whit;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 6px solid #53b4ddd0;
}
#corpsDate .ajoutDate .choixChecked .choixCheckedTow input[type=checkbox]:checked + label:after {
  opacity: 0;
}
#corpsDate .ajoutDate .choixChecked .choixCheckedTow p {
  position: absolute;
  top: 10px;
  left: 130px;
}
#corpsDate .ajoutDate .tempsAjouter {
  display: flex;
}
#corpsDate .ajoutDate .tempsAjouter .anne,
#corpsDate .ajoutDate .tempsAjouter .mois,
#corpsDate .ajoutDate .tempsAjouter .jours {
  margin-left: 10px;
}
#corpsDate .ajoutDate .tempsAjouter .anne p,
#corpsDate .ajoutDate .tempsAjouter .mois p,
#corpsDate .ajoutDate .tempsAjouter .jours p {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
}
#corpsDate .ajoutDate .tempsAjouter .anne .inputTag,
#corpsDate .ajoutDate .tempsAjouter .mois .inputTag,
#corpsDate .ajoutDate .tempsAjouter .jours .inputTag {
  height: 35px;
  width: 87px;
  margin-top: 3px;
  border: 1px solid #000000;
  background-color: #ffffff;
  position: relative;
}
#corpsDate .ajoutDate .tempsAjouter .anne .inputTag p,
#corpsDate .ajoutDate .tempsAjouter .mois .inputTag p,
#corpsDate .ajoutDate .tempsAjouter .jours .inputTag p {
  margin: 7px 9px;
}
#corpsDate .ajoutDate .tempsAjouter .anne .inputTag img,
#corpsDate .ajoutDate .tempsAjouter .mois .inputTag img,
#corpsDate .ajoutDate .tempsAjouter .jours .inputTag img {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  right: 4px;
}
#corpsDate .ajoutDate .resulterAjourSous {
  margin-top: 30px;
}
#corpsDate .ajoutDate .resulterAjourSous p {
  color: rgba(0, 0, 0, 0.6);
  margin: 0 9px;
}
#corpsDate .ajoutDate .resulterAjourSous h2 {
  margin: 2px 9px;
  font-size: 20px;
}
#corpsDate .ActivDate {
  display: block;
}
#corpsDate .ActivChoixDate {
  display: block;
  background-color: #53b4ddd0;
}
#corpsDate .ActivChoixDate:hover {
  background: #53b4ddd0 !important;
}

#corpsDevise {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  grid-row: 2/10;
  grid-column: 1/8;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 321px;
  grid-template-rows: 40px repeat(8, 1fr);
}
#corpsDevise .box {
  grid-row: 1/2;
  grid-column: 1/5;
}
#corpsDevise .box .headMenu {
  display: flex;
}
#corpsDevise .box .headMenu .contLigne {
  width: 40px;
  height: 5px;
  cursor: pointer;
  position: relative;
  top: 0;
  padding: 20px;
  z-index: 50;
}
#corpsDevise .box .headMenu .contLigne:hover {
  background: #e6e6e6;
}
#corpsDevise .box .headMenu .contLigne .lignes {
  width: 50%;
  height: 1px;
  border-radius: 25px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
#corpsDevise .box .headMenu .contLigne .lignes:nth-child(1) {
  top: 15px;
}
#corpsDevise .box .headMenu .contLigne .lignes:nth-child(2) {
  top: 20px;
}
#corpsDevise .box .headMenu .contLigne .lignes:nth-child(3) {
  top: 25px;
}
#corpsDevise .box .headMenu h1 {
  margin: 0;
  padding: 0;
  margin: 6px 5px 0 10px;
  font-size: 20px;
}
#corpsDevise .box .headMenu .petiteTaille {
  width: 30px;
  height: 30px;
  margin-top: 9px;
}
#corpsDevise .box .headMenu .petiteTaille:hover {
  border: 1px solid gray;
  background-color: #dadada;
}
#corpsDevise .box .navBar {
  width: 29%;
  height: 94%;
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  top: 30px;
  z-index: 50;
}
#corpsDevise .box .navBar .navHedaer {
  height: 10%;
  z-index: 20;
}
#corpsDevise .box .navBar .navCahce {
  height: 81%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 20;
}
#corpsDevise .box .navBar .navCahce ul {
  position: relative;
  margin: 0;
  padding: 0;
}
#corpsDevise .box .navBar .navCahce ul h4 {
  margin: 0;
  padding: 0;
  margin: 12px;
  font-size: 0.8rem;
  cursor: default;
}
#corpsDevise .box .navBar .navCahce ul li {
  width: 100%;
  height: 39px;
  padding: 0 10px;
  cursor: default;
}
#corpsDevise .box .navBar .navCahce ul li a {
  position: relative;
}
#corpsDevise .box .navBar .navCahce ul li .divLi {
  display: flex;
}
#corpsDevise .box .navBar .navCahce ul li .divLi img {
  height: 30px;
  margin-top: 5px;
}
#corpsDevise .box .navBar .navCahce ul li .divLi p {
  font-size: 13.5px;
  margin: 10px 5px;
}
#corpsDevise .box .navBar .navCahce ul li .active-items::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -5px;
  width: 2px;
  height: 25px;
  background-color: #53b4ddd0;
}
#corpsDevise .box .navBar .navCahce ul li:hover {
  background-color: #dadada;
}
#corpsDevise .box .navBar .navCahce::-webkit-scrollbar {
  width: 12px;
}
#corpsDevise .box .navBar .navCahce::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#corpsDevise .box .navBar .navCahce::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid #f1f1f1;
}
#corpsDevise .box .navBar .apropos {
  background-color: #f1f1f1;
  display: flex;
}
#corpsDevise .box .navBar .apropos img {
  width: 35px;
  height: 35px;
}
#corpsDevise .box .navBar .apropos p {
  margin: 7px 0;
  font-size: 13.5px;
}
#corpsDevise .box .active-nav {
  display: block;
  z-index: 5;
}
#corpsDevise .convertisseur {
  grid-row: 2/10;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-template-rows: 170px 170px 1fr;
}
#corpsDevise .convertisseur .choixConvertir {
  grid-row: 1/2;
  grid-column: 2/-1;
}
#corpsDevise .convertisseur .choixConvertir h2 {
  margin: 0;
  margin-top: 40px;
  font-size: 50px;
  font-weight: 500;
}
#corpsDevise .convertisseur .choixConvertir h2 .UniteChoix {
  font-size: 30px;
  font-weight: inherit;
}
#corpsDevise .convertisseur .choixConvertir .convertirListe {
  display: flex;
  margin-top: 5px;
}
#corpsDevise .convertisseur .choixConvertir .convertirListe h4 {
  font-size: 13px;
}
#corpsDevise .convertisseur .choixConvertir .convertirListe img {
  height: 23px;
  width: 23px;
  margin-top: 15px;
}
#corpsDevise .convertisseur .choixConvertirResult {
  grid-row: 2/3;
  grid-column: 2/-1;
}
#corpsDevise .convertisseur .choixConvertirResult p {
  margin: 0;
  margin-top: 60px;
  font-size: 50px;
  font-weight: unset;
}
#corpsDevise .convertisseur .choixConvertirResult p span {
  font-size: 30px;
  font-weight: inherit;
  vertical-align: middle;
  margin-top: 20px;
}
#corpsDevise .convertisseur .choixConvertirResult .convertir {
  display: flex;
  margin-top: 10px;
}
#corpsDevise .convertisseur .choixConvertirResult .convertir h4 {
  font-size: 13px;
  margin: 0;
}
#corpsDevise .convertisseur .choixConvertirResult .convertir img {
  height: 23px;
  width: 23px;
}
#corpsDevise .convertisseur .choixConvertirDevis {
  grid-row: 3/4;
  grid-column: 2/-1;
}
#corpsDevise .convertisseur .choixConvertirDevis p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
#corpsDevise .convertisseur .choixConvertirDevis p:nth-child(1) {
  margin-top: 24px;
}
#corpsDevise .convertisseur .choixConvertirDevis p:nth-child(2) {
  font-size: 11px;
}
#corpsDevise .convertisseur .choixConvertirDevis a {
  text-decoration: underline;
  font-size: 0.8em;
  margin-top: 8px;
  cursor: pointer;
}
#corpsDevise .convertisseurChiffre {
  grid-row: 2/10;
  grid-column: 4/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
#corpsDevise .convertisseurChiffre .opperateur {
  width: 98%;
  height: 98%;
  text-align: center;
  background-color: #f2f2f2;
  opacity: 0.7;
  cursor: default;
}
#corpsDevise .convertisseurChiffre .opperateur p,
#corpsDevise .convertisseurChiffre .opperateur img {
  font-size: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#corpsDevise .convertisseurChiffre .opperateur img {
  width: 30%;
  height: 50%;
}
#corpsDevise .convertisseurChiffre .opperateur:hover {
  background-color: #dadada;
  border: 1px solid #cccccc;
}
#corpsDevise .convertisseurChiffre .chiffre {
  width: 98%;
  height: 98%;
  text-align: center;
  background-color: #ffffff;
  cursor: default;
}
#corpsDevise .convertisseurChiffre .chiffre p,
#corpsDevise .convertisseurChiffre .chiffre img {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#corpsDevise .convertisseurChiffre .chiffre:hover {
  background-color: #dadada;
  border: 1px solid #a5a5a5;
}

#corpsVolume {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  grid-row: 2/10;
  grid-column: 1/8;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 321px;
  grid-template-rows: 40px repeat(8, 1fr);
}
#corpsVolume .box {
  grid-row: 1/2;
  grid-column: 1/5;
}
#corpsVolume .box .headMenu {
  display: flex;
}
#corpsVolume .box .headMenu .contLigne {
  width: 40px;
  height: 5px;
  cursor: pointer;
  position: relative;
  top: 0;
  padding: 20px;
  z-index: 50;
}
#corpsVolume .box .headMenu .contLigne:hover {
  background: #e6e6e6;
}
#corpsVolume .box .headMenu .contLigne .lignes {
  width: 50%;
  height: 1px;
  border-radius: 25px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
#corpsVolume .box .headMenu .contLigne .lignes:nth-child(1) {
  top: 15px;
}
#corpsVolume .box .headMenu .contLigne .lignes:nth-child(2) {
  top: 20px;
}
#corpsVolume .box .headMenu .contLigne .lignes:nth-child(3) {
  top: 25px;
}
#corpsVolume .box .headMenu h1 {
  margin: 0;
  padding: 0;
  margin: 6px 5px 0 10px;
  font-size: 20px;
}
#corpsVolume .box .headMenu .petiteTaille {
  width: 30px;
  height: 30px;
  margin-top: 9px;
}
#corpsVolume .box .headMenu .petiteTaille:hover {
  border: 1px solid gray;
  background-color: #dadada;
}
#corpsVolume .box .navBar {
  width: 29%;
  height: 94%;
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  top: 30px;
  z-index: 50;
}
#corpsVolume .box .navBar .navHedaer {
  height: 10%;
  z-index: 20;
}
#corpsVolume .box .navBar .navCahce {
  height: 81%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 20;
}
#corpsVolume .box .navBar .navCahce ul {
  position: relative;
  margin: 0;
  padding: 0;
}
#corpsVolume .box .navBar .navCahce ul h4 {
  margin: 0;
  padding: 0;
  margin: 12px;
  font-size: 0.8rem;
  cursor: default;
}
#corpsVolume .box .navBar .navCahce ul li {
  width: 100%;
  height: 39px;
  padding: 0 10px;
  cursor: default;
}
#corpsVolume .box .navBar .navCahce ul li a {
  position: relative;
}
#corpsVolume .box .navBar .navCahce ul li .divLi {
  display: flex;
}
#corpsVolume .box .navBar .navCahce ul li .divLi img {
  height: 30px;
  margin-top: 5px;
}
#corpsVolume .box .navBar .navCahce ul li .divLi p {
  font-size: 13.5px;
  margin: 10px 5px;
}
#corpsVolume .box .navBar .navCahce ul li .active-items::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -5px;
  width: 2px;
  height: 25px;
  background-color: #53b4ddd0;
}
#corpsVolume .box .navBar .navCahce ul li:hover {
  background-color: #dadada;
}
#corpsVolume .box .navBar .navCahce::-webkit-scrollbar {
  width: 12px;
}
#corpsVolume .box .navBar .navCahce::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#corpsVolume .box .navBar .navCahce::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid #f1f1f1;
}
#corpsVolume .box .navBar .apropos {
  background-color: #f1f1f1;
  display: flex;
}
#corpsVolume .box .navBar .apropos img {
  width: 35px;
  height: 35px;
}
#corpsVolume .box .navBar .apropos p {
  margin: 7px 0;
  font-size: 13.5px;
}
#corpsVolume .box .active-nav {
  display: block;
  z-index: 5;
}
#corpsVolume .convertisseur {
  grid-row: 2/10;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-template-rows: 170px 170px 1fr;
}
#corpsVolume .convertisseur .choixConvertir {
  grid-row: 1/2;
  grid-column: 2/-1;
}
#corpsVolume .convertisseur .choixConvertir h2 {
  margin: 0;
  margin-top: 40px;
  font-size: 50px;
  font-weight: 500;
}
#corpsVolume .convertisseur .choixConvertir h2 .UniteChoix {
  font-size: 30px;
  font-weight: inherit;
}
#corpsVolume .convertisseur .choixConvertir .convertirListe {
  display: flex;
  margin-top: 5px;
}
#corpsVolume .convertisseur .choixConvertir .convertirListe h4 {
  font-size: 13px;
}
#corpsVolume .convertisseur .choixConvertir .convertirListe img {
  height: 23px;
  width: 23px;
  margin-top: 15px;
}
#corpsVolume .convertisseur .choixConvertirResult {
  grid-row: 2/3;
  grid-column: 2/-1;
}
#corpsVolume .convertisseur .choixConvertirResult p {
  margin: 0;
  margin-top: 60px;
  font-size: 50px;
  font-weight: unset;
}
#corpsVolume .convertisseur .choixConvertirResult .convertir {
  display: flex;
  margin-top: 10px;
}
#corpsVolume .convertisseur .choixConvertirResult .convertir h4 {
  font-size: 13px;
  margin: 0;
}
#corpsVolume .convertisseur .choixConvertirResult .convertir img {
  height: 23px;
  width: 23px;
}
#corpsVolume .convertisseurChiffre {
  grid-row: 2/10;
  grid-column: 4/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
#corpsVolume .convertisseurChiffre .opperateur {
  width: 98%;
  height: 98%;
  text-align: center;
  background-color: #f2f2f2;
  opacity: 0.7;
  cursor: default;
}
#corpsVolume .convertisseurChiffre .opperateur p,
#corpsVolume .convertisseurChiffre .opperateur img {
  font-size: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#corpsVolume .convertisseurChiffre .opperateur img {
  width: 30%;
  height: 50%;
}
#corpsVolume .convertisseurChiffre .opperateur:hover {
  background-color: #dadada;
  border: 1px solid #cccccc;
}
#corpsVolume .convertisseurChiffre .chiffre {
  width: 98%;
  height: 98%;
  text-align: center;
  background-color: #ffffff;
  cursor: default;
}
#corpsVolume .convertisseurChiffre .chiffre p,
#corpsVolume .convertisseurChiffre .chiffre img {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#corpsVolume .convertisseurChiffre .chiffre:hover {
  background-color: #dadada;
  border: 1px solid #a5a5a5;
}

#corpsLongueur {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  grid-row: 2/10;
  grid-column: 1/8;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 321px;
  grid-template-rows: 40px repeat(8, 1fr);
}
#corpsLongueur .box {
  grid-row: 1/2;
  grid-column: 1/5;
}
#corpsLongueur .box .headMenu {
  display: flex;
}
#corpsLongueur .box .headMenu .contLigne {
  width: 40px;
  height: 5px;
  cursor: pointer;
  position: relative;
  top: 0;
  padding: 20px;
  z-index: 50;
}
#corpsLongueur .box .headMenu .contLigne:hover {
  background: #e6e6e6;
}
#corpsLongueur .box .headMenu .contLigne .lignes {
  width: 50%;
  height: 1px;
  border-radius: 25px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
#corpsLongueur .box .headMenu .contLigne .lignes:nth-child(1) {
  top: 15px;
}
#corpsLongueur .box .headMenu .contLigne .lignes:nth-child(2) {
  top: 20px;
}
#corpsLongueur .box .headMenu .contLigne .lignes:nth-child(3) {
  top: 25px;
}
#corpsLongueur .box .headMenu h1 {
  margin: 0;
  padding: 0;
  margin: 6px 5px 0 10px;
  font-size: 20px;
}
#corpsLongueur .box .headMenu .petiteTaille {
  width: 30px;
  height: 30px;
  margin-top: 9px;
}
#corpsLongueur .box .headMenu .petiteTaille:hover {
  border: 1px solid gray;
  background-color: #dadada;
}
#corpsLongueur .box .navBar {
  width: 29%;
  height: 94%;
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  top: 30px;
  z-index: 50;
}
#corpsLongueur .box .navBar .navHedaer {
  height: 10%;
  z-index: 20;
}
#corpsLongueur .box .navBar .navCahce {
  height: 81%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 20;
}
#corpsLongueur .box .navBar .navCahce ul {
  position: relative;
  margin: 0;
  padding: 0;
}
#corpsLongueur .box .navBar .navCahce ul h4 {
  margin: 0;
  padding: 0;
  margin: 12px;
  font-size: 0.8rem;
  cursor: default;
}
#corpsLongueur .box .navBar .navCahce ul li {
  width: 100%;
  height: 39px;
  padding: 0 10px;
  cursor: default;
}
#corpsLongueur .box .navBar .navCahce ul li a {
  position: relative;
}
#corpsLongueur .box .navBar .navCahce ul li .divLi {
  display: flex;
}
#corpsLongueur .box .navBar .navCahce ul li .divLi img {
  height: 30px;
  margin-top: 5px;
}
#corpsLongueur .box .navBar .navCahce ul li .divLi p {
  font-size: 13.5px;
  margin: 10px 5px;
}
#corpsLongueur .box .navBar .navCahce ul li .active-items::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -5px;
  width: 2px;
  height: 25px;
  background-color: #53b4ddd0;
}
#corpsLongueur .box .navBar .navCahce ul li:hover {
  background-color: #dadada;
}
#corpsLongueur .box .navBar .navCahce::-webkit-scrollbar {
  width: 12px;
}
#corpsLongueur .box .navBar .navCahce::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#corpsLongueur .box .navBar .navCahce::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid #f1f1f1;
}
#corpsLongueur .box .navBar .apropos {
  background-color: #f1f1f1;
  display: flex;
}
#corpsLongueur .box .navBar .apropos img {
  width: 35px;
  height: 35px;
}
#corpsLongueur .box .navBar .apropos p {
  margin: 7px 0;
  font-size: 13.5px;
}
#corpsLongueur .box .active-nav {
  display: block;
  z-index: 5;
}
#corpsLongueur .convertisseur {
  grid-row: 2/10;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-template-rows: 170px 170px 1fr;
}
#corpsLongueur .convertisseur .choixConvertir {
  grid-row: 1/2;
  grid-column: 2/-1;
}
#corpsLongueur .convertisseur .choixConvertir h2 {
  margin: 0;
  margin-top: 40px;
  font-size: 50px;
  font-weight: 500;
}
#corpsLongueur .convertisseur .choixConvertir h2 .UniteChoix {
  font-size: 30px;
  font-weight: inherit;
}
#corpsLongueur .convertisseur .choixConvertir .convertirListe {
  display: flex;
  margin-top: 5px;
}
#corpsLongueur .convertisseur .choixConvertir .convertirListe h4 {
  font-size: 13px;
}
#corpsLongueur .convertisseur .choixConvertir .convertirListe img {
  height: 23px;
  width: 23px;
  margin-top: 15px;
}
#corpsLongueur .convertisseur .choixConvertirResult {
  grid-row: 2/3;
  grid-column: 2/-1;
}
#corpsLongueur .convertisseur .choixConvertirResult p {
  margin: 0;
  margin-top: 60px;
  font-size: 50px;
  font-weight: unset;
}
#corpsLongueur .convertisseur .choixConvertirResult .convertir {
  display: flex;
  margin-top: 10px;
}
#corpsLongueur .convertisseur .choixConvertirResult .convertir h4 {
  font-size: 13px;
  margin: 0;
}
#corpsLongueur .convertisseur .choixConvertirResult .convertir img {
  height: 23px;
  width: 23px;
}
#corpsLongueur .convertisseurChiffre {
  grid-row: 2/10;
  grid-column: 4/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
#corpsLongueur .convertisseurChiffre .opperateur {
  width: 98%;
  height: 98%;
  text-align: center;
  background-color: #f2f2f2;
  opacity: 0.7;
  cursor: default;
}
#corpsLongueur .convertisseurChiffre .opperateur p,
#corpsLongueur .convertisseurChiffre .opperateur img {
  font-size: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#corpsLongueur .convertisseurChiffre .opperateur img {
  width: 30%;
  height: 50%;
}
#corpsLongueur .convertisseurChiffre .opperateur:hover {
  background-color: #dadada;
  border: 1px solid #cccccc;
}
#corpsLongueur .convertisseurChiffre .chiffre {
  width: 98%;
  height: 98%;
  text-align: center;
  background-color: #ffffff;
  cursor: default;
}
#corpsLongueur .convertisseurChiffre .chiffre p,
#corpsLongueur .convertisseurChiffre .chiffre img {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
#corpsLongueur .convertisseurChiffre .chiffre:hover {
  background-color: #dadada;
  border: 1px solid #a5a5a5;
}

.overlay {
  display: none;
}

.activeOverlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
