//stylisation de la calculatrice standard
#corpsDate {
    width: 100%;
    height: 100%;
    @include marginPadingNull();
    // position: relative;
    overflow: hidden;
    grid-row: 2/10;
    grid-column: 1/8;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 321px;
    grid-template-rows: 40px repeat(8, 1fr);
    @include headerNavBar();
    .choixDate {
        display: none;
        width: 280px;
        height: 68px;
        margin-left: 10px;
        position: absolute;
        background-color: $CouleurMain;
        box-shadow: 1px 1px 30px rgb(93, 93, 93);
        z-index: 100;
        .choixDateDiff {
            height: 26px;
            width: 272px;
            margin: 4px 6px;
            cursor: default;
            p {
                width: 272px;
                height: 26px;
                font-size: 14px;
                margin: 0;
                padding: 5px 7px;
            }
            &:hover,
            &:focus {
                width: 272px;
                height: 26px;
                background-color: #f1f1f1;
            }
        }
        .choixDateAjout {
            height: 26px;
            width: 272px;
            margin: 4px 6px;
            cursor: default;
            p {
                width: 272px;
                height: 26px;
                margin: 0;
                padding: 5px 7px;
                font-size: 14px;
            }
            &:hover,
            &:focus {
                width: 272px;
                height: 26px;
                background-color: #f1f1f1;
            }
        }
    }
    .diffDat {
        display: none;
        grid-row: 2/10;
        grid-column: 1/6;
        .choix {
            display: flex;
            height: 40px;
            cursor: default;
            p {
                font-size: 13.5px;
                font-weight: bold;
                margin: 0 0 0 9px;
                padding: 13.25px 0;
                pointer-events: none;
            }
            img {
                width: 23px;
                height: 23px;
                margin-top: 10px;
                pointer-events: none;
            }
        }
        p {
            font-size: 13.5px;
            margin: 10px 0 0 9px;
        }
        .datepicker {
            background-color: rgba($CouleurMain, 0);
            padding: 8px;
            font-size: 15px;
            border: none;
            outline: none;
            cursor: pointer;
            &::-webkit-calendar-picker-indicator {
                padding: 5px;
                cursor: pointer;
            }
        }
        .différenceDate {
            margin-top: 20px;
            font-size: 13px;
        }
        .resultDate {
            @include marginPadingNull();
            margin-left: 10px;
        }
        .nbJourDiff {
            @include marginPadingNull();
            margin-left: 12px;
            font-weight: bold;
            opacity: 0.6;
        }
    }
    .ajoutDate {
        display: none;
        grid-row: 2/10;
        grid-column: 1/6;
        .choix {
            display: flex;
            height: 40px;
            pointer-events: visible;
            cursor: default;
            z-index: 2;
            p {
                font-size: 13.5px;
                font-weight: bold;
                margin: 0 0 0 9px;
                padding: 13.25px 0;
                pointer-events: none;
            }
            img {
                width: 23px;
                height: 23px;
                margin-top: 10px;
                pointer-events: none;
            }
        }
        p {
            font-size: 13.5px;
            margin: 10px 0 0 9px;
        }
        .datepicker {
            background-color: rgba($CouleurMain, 0);
            padding: 8px;
            font-size: 15px;
            border: none;
            outline: none;
            cursor: pointer;
            &::-webkit-calendar-picker-indicator {
                padding: 5px;
                cursor: pointer;
            }
        }
        .choixChecked {
            height: 50px;
            position: relative;
            .choixCheckedOne {
                label {
                    background-color: #fff;
                    border: 3px solid #ccc;
                    border-radius: 50%;
                    cursor: pointer;
                    height: 20px;
                    left: 0;
                    position: absolute;
                    top: 20px;
                    left: 7px;
                    width: 20px;
                    &:after {
                        border: 2px solid #fff;
                        border-top: none;
                        border-right: none;
                        content: "";
                        height: 6px;
                        left: 6px;
                        opacity: 0;
                        position: absolute;
                        top: 8px;
                        transform: rotate(-45deg);
                        width: 12px;
                    }
                }
                input[type="checkbox"] {
                    visibility: hidden;
                }
                input[type="checkbox"]:checked+label {
                    background-color: whit;
                    padding: 0;
                    width: 20px;
                    height: 20px;
                    border: 6px solid $CouleurEgale;
                }
                input[type="checkbox"]:checked+label:after {
                    opacity: 0;
                }
                p {
                    position: absolute;
                    top: 10px;
                    left: 25px;
                }
            }
            .choixCheckedTow {
                label {
                    background-color: #fff;
                    border: 3px solid #ccc;
                    border-radius: 50%;
                    cursor: pointer;
                    height: 20px;
                    left: 0;
                    position: absolute;
                    top: 20px;
                    left: 110px;
                    width: 20px;
                    &:after {
                        border: 2px solid #fff;
                        border-top: none;
                        border-right: none;
                        content: "";
                        height: 6px;
                        left: 6px;
                        opacity: 0;
                        position: absolute;
                        top: 8px;
                        transform: rotate(-45deg);
                        width: 12px;
                    }
                }
                input[type="checkbox"] {
                    visibility: hidden;
                }
                input[type="checkbox"]:checked+label {
                    background-color: whit;
                    padding: 0;
                    width: 20px;
                    height: 20px;
                    border: 6px solid $CouleurEgale;
                }
                input[type="checkbox"]:checked+label:after {
                    opacity: 0;
                }
                p {
                    position: absolute;
                    top: 10px;
                    left: 130px;
                }
            }
        }
        .tempsAjouter {
            display: flex;
            .anne,
            .mois,
            .jours {
                margin-left: 10px;
                p {
                    margin: 0;
                    color: rgba($CouleurText, 0.6);
                    font-size: 0.9rem;
                }
                .inputTag {
                    height: 35px;
                    width: 87px;
                    margin-top: 3px;
                    border: 1px solid $CouleurText;
                    background-color: $CouleurChiffre;
                    position: relative;
                    p {
                        margin: 7px 9px;
                    }
                    img {
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        top: 3px;
                        right: 4px;
                    }
                }
            }
        }
        .resulterAjourSous {
            margin-top: 30px;
            p {
                color: rgba($CouleurText, 0.6);
                margin: 0 9px;
            }
            h2 {
                margin: 2px 9px;
                font-size: 20px;
            }
        }
    }
    .ActivDate {
        display: block;
    }
    .ActivChoixDate {
        display: block;
        background-color: $CouleurEgale;
        &:hover {
            background: $CouleurEgale!important;
        }
    }
}