//stylisation de la calculatrice standard
#corpsPuissance {
    width: 100%;
    height: 100%;
    @include marginPadingNull();
    overflow: hidden;
    grid-row: 2/10;
    grid-column: 1/8;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 321px;
    grid-template-rows: 40px repeat(8, 1fr);
    @include headerNavBar();
    .convertisseur {
        grid-row: 2/10;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 55px 1fr;
        grid-template-rows: 1.5fr 1fr 0.5fr;
        @include affichageComvertisseur();
        .troisiémeValeur {
            grid-row: 3/4;
            grid-column: 2/-1;
            p {
                @include marginPadingNull();
                font-size: 12px;
                margin-top: 10px;
            }
            div {
                display: flex;
                p {
                    font-size: 13px;
                    margin: 0;
                    margin-right: 20px;
                }
                span {
                    font-weight: bolder;
                    margin-right: 5px;
                }
            }
        }
    }
    @include styleChiffreConvertisseur();
}