//stylisation de la calculatrice standard
#corpsScientifique {
    width: 100%;
    height: 100%;
    @include marginPadingNull();
    // position: relative;
    overflow: hidden;
    grid-row: 2/10;
    grid-column: 1/8;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 321px;
    grid-template-rows: repeat(5, 43px) repeat(7, 36px);
    @include headerNavBar();
    .box {
        grid-row: 1/2;
        grid-column: 1/6;
    }
    .histoMemo {
        grid-row: 1/12;
        grid-column: 6/7;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: repeat(9, 1fr);
        background-color: transparent;
        .histo {
            grid-row: 1/2;
            grid-column: 1/2;
            width: 80px;
            margin: 5px 20px;
            position: relative;
            h2 {
                font-size: 15px;
                cursor: default;
            }
        }
        .memoiregeneral {
            grid-row: 1/2;
            grid-column: 2/3;
            width: 70px;
            margin: 5px 20px;
            position: relative;
            h2 {
                font-size: 15px;
                cursor: default;
            }
        }
        .active_histoMemo {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $CouleurEgale;
            }
        }
        .resultHistoMemo {
            grid-row: 2/10;
            grid-column: 1/3;
            width: 100%;
            height: 100%;
            .hitodéfaut,
            .memodéfaut {
                font-size: 13px;
                white-space: nowrap;
                margin-left: 20px;
            }
            .memodéfaut {
                display: none;
            }
            .poubelle {
                display: none;
                position: absolute;
                bottom: 5px;
                right: 10px;
                img {
                    width: 17px;
                    height: 17px;
                }
            }
        }
    }
    .resulCalcule {
        grid-row: 2/6;
        grid-column: 1/6;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 55px repeat(3, 1fr);
        .memoireResult {
            width: 100%;
            height: 100%;
            grid-row: 2/6;
            grid-column: 1/6;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(3, 1fr);
            .memo {
                width: 100%;
                height: 100%;
                p {
                    margin: 0;
                    margin-top: 8px;
                    font-size: 11px;
                    text-align: center;
                }
            }
            .DEG {
                grid-row: 1/2;
                grid-column: 1/2;
                cursor: default;
                &:hover {
                    border: 1px solid gray;
                    background-color: rgb(214, 214, 214);
                }
            }
            .FE {
                grid-row: 1/2;
                grid-column: 2/3;
                cursor: default;
                &:hover {
                    border: 1px solid gray;
                    background-color: rgb(214, 214, 214);
                }
            }
            .MC {
                grid-row: 2/3;
                grid-column: 1/2;
                color: gray;
                &:hover {
                    cursor: default;
                    opacity: 0.5;
                    box-shadow: 0 0.5px 1px gray;
                }
            }
            .MR {
                grid-row: 2/3;
                grid-column: 2/3;
                color: gray;
                &:hover {
                    cursor: default;
                    opacity: 0.5;
                    box-shadow: 0 0.5px 1px gray;
                }
            }
            .MP {
                grid-row: 2/3;
                grid-column: 3/4;
                cursor: default;
                &:hover {
                    border: 1px solid gray;
                    background-color: rgb(214, 214, 214);
                }
            }
            .MM {
                grid-row: 2/3;
                grid-column: 4/5;
                cursor: default;
                &:hover {
                    border: 1px solid gray;
                    background-color: rgb(214, 214, 214);
                }
            }
            .MS {
                grid-row: 2/3;
                grid-column: 5/6;
                cursor: default;
                &:hover {
                    border: 1px solid gray;
                    background-color: rgb(214, 214, 214);
                }
            }
            .trigoFonction {
                grid-row: 3/4;
                grid-column: 1/7;
                display: grid;
                width: 545px;
                grid-template-columns: repeat(25, 1fr);
                grid-template-rows: 1fr;
                background-color: rgba(242, 242, 242, 0.2);
                .trigo {
                    grid-row: 1/2;
                    grid-column: 1/7;
                    .generalTrigo {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        img {
                            width: 16px;
                            height: 16px;
                            margin: 12px 5px 0 10px;
                        }
                        p {
                            font-size: 11.5px;
                            margin: 12px 1px 0 0;
                            padding: 0;
                        }
                        cursor: default;
                        &:hover {
                            border: 1px solid gray;
                            background-color: rgb(214, 214, 214);
                        }
                        .flecheTricoFunc {
                            width: 20px;
                            height: 20px;
                            margin-top: 10px;
                            margin-left: 5px;
                        }
                    }
                    .itemsGeneralTrigo {
                        display: none;
                    }
                    .itemsGeneralTrigoActive {
                        display: block;
                        width: 275px;
                        height: 100px;
                        text-align: center;
                        background-color: rgb(216, 216, 216);
                        cursor: default;
                        position: absolute;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: peat(2, 1fr);
                        z-index: 100;
                        cursor: default;
                        .itemsTrigo {
                            width: 66px;
                            height: 47px;
                            margin: 0.5px;
                            background-color: rgb(242, 242, 242);
                            p,
                            img {
                                font-size: 15px;
                                position: relative;
                                top: 50%;
                                transform: translateY(-50%);
                                margin: 0;
                            }
                            &:hover {
                                background-color: rgb(218, 218, 218);
                                border: 1px solid rgb(204, 204, 204);
                            }
                        }
                    }
                }
                .fonction {
                    grid-row: 1/2;
                    grid-column: 7/12;
                    .generalfonc {
                        display: flex;
                        img {
                            width: 30px;
                            height: 30px;
                            margin: 5px 0 0 1px;
                        }
                        p {
                            font-size: 12px;
                            margin-top: 12px;
                        }
                        cursor: default;
                        &:hover {
                            border: 1px solid gray;
                            background-color: rgb(214, 214, 214);
                        }
                        .flecheTricoFunc {
                            width: 20px;
                            height: 20px;
                            margin-top: 10px;
                        }
                    }
                    .itemsGeneralFonc {
                        display: none;
                    }
                    .itemsGeneralFoncActive {
                        display: block;
                        width: 200px;
                        height: 95px;
                        text-align: center;
                        background-color: rgb(216, 216, 216);
                        cursor: default;
                        position: absolute;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: peat(2, 1fr);
                        z-index: 100;
                        cursor: default;
                        .itemsFonc {
                            width: 66px;
                            height: 47px;
                            margin: 1px;
                            background-color: rgb(242, 242, 242);
                            img {
                                font-size: 15px;
                                position: relative;
                                top: 50%;
                                transform: translateY(-50%);
                                margin: 0;
                            }
                            &:hover {
                                background-color: rgb(218, 218, 218);
                                border: 1px solid rgb(204, 204, 204);
                            }
                        }
                    }
                }
            }
        }
        .result {
            grid-row: 1/2;
            grid-column: 1/8;
            width: 100%;
            height: 100%;
            .calculeresult {
                p {
                    @include marginPadingNull();
                    text-align: end;
                    margin-right: 15px;
                }
                margin-left: 5px;
                font-size: 13px;
                color: gray;
            }
            .chiffreresult {
                p {
                    @include marginPadingNull();
                    text-align: end;
                    margin-right: 10px;
                }
                font-size: 25px;
            }
        }
    }
    .opperateur {
        width: 98%;
        height: 98%;
        text-align: center;
        vertical-align: middle;
        background-color: rgb(242, 242, 242);
        opacity: 0.7;
        cursor: default;
        img {
            padding: 4.6px 20px 0 20px;
            margin: 0;
        }
        p {
            font-size: 15px;
            padding: 7px 20px 0 20px;
            margin: 0;
        }
        &:hover {
            background-color: rgb(218, 218, 218);
            border: 1px solid rgb(204, 204, 204);
        }
    }
    .chiffre {
        width: 98%;
        height: 98%;
        text-align: center;
        background-color: $CouleurChiffre;
        cursor: default;
        p,
        img {
            font-size: 17px;
            font-weight: bold;
            padding: 5px 30px 0 30px;
            margin: 0;
        }
        &:hover {
            background-color: rgb(218, 218, 218);
            border: 1px solid rgb(165, 165, 165);
        }
    }
    .egal {
        background-color: $CouleurEgale;
        &:hover {
            background-color: rgb(0, 157, 185);
            border: 1px solid rgb(0, 157, 185);
        }
    }
}