//stylisation de la calculatrice standard
#corpsDevise {
    width: 100%;
    height: 100%;
    @include marginPadingNull();
    // position: relative;
    overflow: hidden;
    grid-row: 2/10;
    grid-column: 1/8;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 321px;
    grid-template-rows: 40px repeat(8, 1fr);
    .box {
        grid-row: 1/2;
        grid-column: 1/5;
        .headMenu {
            display: flex;
            .contLigne {
                width: 40px;
                height: 5px;
                cursor: pointer;
                position: relative;
                top: 0;
                padding: 20px;
                z-index: 50;
                &:hover {
                    background: $CouleurMain;
                }
                .lignes {
                    width: 50%;
                    height: 1px;
                    border-radius: 25px;
                    background: #000;
                    @include positionCenter();
                    transition: all .5s ease-in-out;
                    &:nth-child(1) {
                        top: 15px;
                    }
                    &:nth-child(2) {
                        top: 20px;
                    }
                    &:nth-child(3) {
                        top: 25px;
                    }
                }
            }
            h1 {
                @include marginPadingNull();
                margin: 6px 5px 0 10px;
                font-size: 20px;
            }
            .petiteTaille {
                width: 30px;
                height: 30px;
                margin-top: 9px;
                &:hover {
                    border: 1px solid gray;
                    background-color: rgb(218, 218, 218);
                }
            }
        }
        .navBar {
            width: 29%;
            height: 94%;
            background-color: $CouleurNav;
            display: none;
            position: absolute;
            top: 30px;
            z-index: 50;
            .navHedaer {
                height: 10%;
                z-index: 20;
            }
            .navCahce {
                height: 81%;
                overflow: scroll;
                overflow-x: hidden;
                z-index: 20;
                ul {
                    position: relative;
                    @include marginPadingNull();
                    h4 {
                        @include marginPadingNull();
                        margin: 12px;
                        font-size: 0.8rem;
                        cursor: default;
                    }
                    li {
                        width: 100%;
                        height: 39px;
                        padding: 0 10px;
                        cursor: default;
                        a {
                            position: relative;
                        }
                        .divLi {
                            display: flex;
                            img {
                                height: 30px;
                                margin-top: 5px;
                            }
                            p {
                                font-size: 13.5px;
                                margin: 10px 5px;
                            }
                        }
                        .active-items {
                            &::after {
                                content: '';
                                position: absolute;
                                top: 7px;
                                left: -5px;
                                width: 2px;
                                height: 25px;
                                background-color: $CouleurEgale;
                            }
                        }
                        &:hover {
                            background-color: rgb(218, 218, 218);
                        }
                    }
                }
                &::-webkit-scrollbar {
                    width: 12px;
                }
                &::-webkit-scrollbar-track {
                    background: $CouleurNav;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: gray;
                    border-radius: 20px;
                    border: 3px solid $CouleurNav;
                }
            }
            .apropos {
                background-color: $CouleurNav;
                display: flex;
                img {
                    width: 35px;
                    height: 35px;
                }
                p {
                    margin: 7px 0;
                    font-size: 13.5px;
                }
            }
        }
        .active-nav {
            display: block;
            z-index: 5;
        }
    }
    .convertisseur {
        grid-row: 2/10;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 55px 1fr;
        grid-template-rows: 170px 170px 1fr;
        .choixConvertir {
            grid-row: 1/2;
            grid-column: 2/-1;
        }
        .choixConvertirResult {
            grid-row: 2/3;
            grid-column: 2/-1;
        }
        .choixConvertirDevis {
            grid-row: 3/4;
            grid-column: 2/-1;
            p {
                font-size: 12px;
                @include marginPadingNull();
            }
            p:nth-child(1) {
                margin-top: 24px;
            }
            p:nth-child(2) {
                font-size: 11px;
            }
            p:nth-child(3) {
                text-decoration: underline;
                margin-top: 8px;
            }
        }
    }
    .convertisseurChiffre {
        grid-row: 2/10;
        grid-column: 4/6;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        .opperateur {
            width: 98%;
            height: 98%;
            text-align: center;
            background-color: rgb(242, 242, 242);
            opacity: 0.7;
            cursor: default;
            p,
            img {
                font-size: 20px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin: 0;
            }
            img {
                width: 30%;
                height: 50%;
            }
            &:hover {
                background-color: rgb(218, 218, 218);
                border: 1px solid rgb(204, 204, 204);
            }
        }
        .chiffre {
            width: 98%;
            height: 98%;
            text-align: center;
            background-color: $CouleurChiffre;
            cursor: default;
            p,
            img {
                font-size: 30px;
                font-weight: bold;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                margin: 0;
            }
            &:hover {
                background-color: rgb(218, 218, 218);
                border: 1px solid rgb(165, 165, 165);
            }
        }
    }
}